/* main.scss */

// Variables
$primary-color: #0ad0e2;
$secondary-color: #e632f3;

// Styles
body {
    font-family: Arial, sans-serif;
    background-color: $secondary-color;
    color: rgb(12, 13, 13);
    margin: 0;
    padding: 0;
}

header {
    background-color: $primary-color;
    padding: 20px;

    ul {
        list-style: none;
        display: flex;
        li {
            margin-right: 20px;
            a {
                text-decoration: none;
                color: rgb(10, 240, 190);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

section {
    padding: 40px;
    text-align: center;

    h1, h2 {
        color: $primary-color;
    }

    a.cta-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: $primary-color;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}








